* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    height: 100%;
    /*
    background-image: url("Image/background-blur-blurred.jpg");
    background-color: #a6fff6;
    */
    
  }
  
  /* Style the header */
  .header {
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
    /*background-image:*/
    }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav.Time{
    padding: 14px 16px;
    text-align: right;
    color : aquamarine;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .column.side {
    width: 20%;
    height: 100%;
    text-align: center;
    background-color: tomato;
  }

  .column a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .column a:hover {
    background-color: #ddd;
    color: black;
  }

  .image {
    max-width: 100%;
    height: auto;
  }

  /*
  img.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 1000px;
    width :10%
  }
  */

  /* Middle column */
  .column.middle {
    width: 80%;
    padding-right: 2.5%;
 } 
  .ContantImg{
    float: right;
    widows: 35%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }